{% extends "base.html" %}


{% block title %}
<title>Contact Us</title>
{% endblock%}

    {% block content %}
    
    <h1>Contact Form!</h1>
    <form method="post">
        <div class="form-group">
            {{ form.name.label_tag }}
            <input type="text" class="form-control" name="{{ form.name.name }}"></br> 
        </div>
        <div class="form-group">
            {{ form.email.label_tag }}  
            <input type="email" class="form-control" name="{{ form.email.name }}"></br>        
        </div>
        <div class="form-group">
            {{ form.verify_email.label_tag }}
            <input type="email" class="form-control" name="{{ form.verify_email.name }}"></br>         
        </div>
        <div class="form-group">
            {{ form.message.label_tag }} 
            <textarea class="form-control" name="{{ form.message.name }}" ></textarea></br>         
        </div>

        {% csrf_token %}
        <input type="submit" class="btn btn-primary" value="Submit">
    </form>

    {% endblock content %}

